
<div class="col-md-1" ng-hide="$root.loginAccount.state">
    <button type="button" class="btn btn-grey-filters btn-block " 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Zarejestruj'" ng-click="stan()">				
    </button>
            <button type="button" class="btn btn-grey-filters btn-block " ng-click="loginModal()"  
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Zaloguj'">				
    </button>
    </div>
   
<div class="col-md-1" ng-show="$root.loginAccount.state">
    <button type="button" class="btn btn-grey-filters btn-block " 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Wyloguj'">				
    </div>
    