<div  >
    <div ng-repeat="oneJobOffer in jobOffersAll">
        <div class="panel panel-default">
            <div >
                <span  ng-bind="'Nazwa:'"></span>
                <span  ng-bind="oneJobOffer.name"></span>
            </div>
            <div >
                <span  ng-bind="'Opis stanowiska:'"></span>
                <span  ng-bind="oneJobOffer.description"></span>
            </div>
            <div >
                <span  ng-bind="'Lokalizacja:'"></span>
                <span  ng-bind="oneJobOffer.location"></span>
            </div>
                        <div >
                <span  ng-bind="'Umiejętności:'"></span>
              <div ng-repeat="skill in oneJobOffer.skills">
      <span  ng-bind="skill.name"></span> - <span  ng-bind="skill.category"></span>  <span>  </span>
     </div>  
            </div>

        </div>
    </div>

</div>

