#headerJoBBox{
    font-weight:900;
    font-size: 36px;
}

#witajHeader{
    font-size: 24px;
}

.witajLogin{
    font-weight:700;
    color: #d9534f;
        
}

.errorMessage{
    color: #ff0000;
}