<p>
    <button type="button" class="btn btn-grey-filters btn-block" ng-click="changeState('main.jobOffers')" 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Oferty pracy'">				
    </button>
</p>

<p ng-show="$root.loginAccount.role==='COMPANY_ROLE' || $root.loginAccount.role==='ADMIN_ROLE'">
    <button type="button" class="btn btn-grey-filters btn-block" ng-click="changeState('main.addJobOffer')" 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Dodaj ofertę'">				
    </button>
</p>

<p>
    <button type="button" class="btn btn-grey-filters btn-block" ng-click="changeState('main.userAccount')" 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Konto użytkownika'">				
    </button>
</p>

<p ng-show="$root.loginAccount.role==='ADMIN_ROLE'">
    <button type="button" class="btn btn-grey-filters btn-block" 
            style="margin-top: .4em; margin-bottom: 1em;" ng-bind="'Panel administracyjny'">				
    </button>
</p>